@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Lexend', sans-serif; */
  font-family: "Lexend", Helvetica, Arial, Lucida, sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.animated {
  background: linear-gradient(
    to right,
    #ff3841 0%,
    #7d8ef7 40%,
    #ff3841 90%,
    #7d8ef7 20%,
    #ff3841 10%
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated 25s linear infinite;
}
@keyframes animated {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
