@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Lexend', sans-serif; */
  font-family: "Lexend", Helvetica, Arial, Lucida, sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.animated {
  background: linear-gradient(
    to right,
    #ff3841 0%,
    #7d8ef7 40%,
    #ff3841 90%,
    #7d8ef7 20%,
    #ff3841 10%
  );
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animated 25s linear infinite;
}
@keyframes animated {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.info {
    background: linear-gradient(
    to right,
    #b04aff 0%,
    #7d8ef7 40%,
    #b04aff 90%,
    #7d8ef7 20%,
    #b04aff 10%
  );
  background-size: 200% auto;
  animation: info 5s linear infinite;
}
@keyframes info {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

/* .hero-ascent {
  background-image: url("../src/assets/images/hero.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  overflow: visible !important;
  animation: meshAnimation 400s linear infinite;
} */
/* 
@keyframes meshAnimation  {
  0% {transform : perspective( 30px ) rotateY( 0.010deg ) translate(-250px,0px);}
    50% {transform : perspective( 0px ) rotateY( 0deg )
translate(-250px,0px);}
  100% {transform : perspective( 30px ) rotateY( -0.025deg )
translate(-250px,0px);}
    
} */
